<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Prelo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PushNotif.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2115E6C71B4A27E500509D2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>588123811EE65F5B005047AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5881238F1EE65FA0005047AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2B34BCB1E37042C001B653F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
